/* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
.header-area .login_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 9;
  background: #48a08f;
  width: 100px;
  right: 0px;
}

@media (max-width: 767px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  .header-area .login_icon {
    width: 50px;
    right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  .header-area .login_icon {
    width: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  .header-area .login_icon {
    width: 80px;
  }
}

/* line 343, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
.header-area .login_icon a {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 349, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
.header-area .login_icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}